@import '../base/variables.scss';

:root {
    --scroll: 0
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    color: $color-dark-blue;

    &.dark {
        background-color: $color-mid-dark-blue;
        color: $color-cta;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}